* {
  box-sizing: border-box;
}

.boxCal {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  background-color: #c4baba;
  padding-right: 5px;
  color: white;
  height: 40px;
  display: flex;
  margin-bottom: 1px;
  align-items: center;
  justify-content: flex-end;
}

.keypadBtns {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 70px);
  background-color: #dfdfdf;
  margin-top: 0;
  width: 100%;
}

.keypadBtns .keypadBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  border: 1px solid #c4baba;
  text-align: center;
  padding-top: 20%;
}

.keypadBtns .keypadBtn:nth-child(17) {
  grid-area: 5/1/5/3;
}

.keypadBtns .keypadBtn:nth-child(4n),
.keypadBtns .keypadBtn:last-child {
  background-color: orange;
  text-align: center;
}

.keypadBtns .keypadBtn:nth-child(1n),
.keypadBtns .keypadBtn:last-child {
  border-left: none;
}
